<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantry Pal</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <a href="/">
        <h1>Pantry Pal</h1>
      </a>
      <nav>
        <!-- if the user is logged in, display the add item and logout links in the nav bar header -->
        {{#if logged_in}}
        <a href="/add">Add Item</a> | 
        <button class="no-button" id="logout">Logout</button>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render all views to the homepage-->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="jquery.js"></script>
  <script src="parsley.min.js"></script>
</body>

</html>
