<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Pantry Pal</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class='background flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        {{#if landing_page}}
          <h1></h1>
        {{else}}
          <a href='/'>
            <h1 class="title">Pantry Pal</h1>
          </a>
        {{/if}}
        <nav class="nav-text">
          {{#if logged_in}}
            <!-- if the user is logged in, display the add item and logout links in the nav bar header -->
            <a class="nav-text" href='/categories'>Add Category</a>
            |
            <a class="nav-text" href='/add'>Add Item</a>
            |
            <button class='nav-text no-button' id='logout'>Logout</button>
          {{/if}}
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render all views to the homepage-->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>

</html>