<div>
    <h2>Add New Item</h2>
</div>

<form class="form add-item-form">
    <div class="form-group">
        <label for="item-name">Name:</label>
        <input class="form-input" type="text" id="item-name"/>
    </div>
    <div class="form-group">
        <label for="quantity-of">Quantity:</label>
        <input class="form-input" type="number" id="quantity"/>
    </div>
    <div class="form-group">
        <label for="expiration-date">Expiration Date:</label>
        <input class="form-input" id="expiration-date" placeholder="MM-DD-YYYY"/>
    </div>
    <div class="form-group">
        <label for="category-selection">Please Select a Category:</label>
        <select class="form-input" id="category">
            {{!-- all categories created dynamically in the dropdown menu --}}
                {{#each allCats as |category|}}
                    <option value={{category.id}}>{{category.name}}</option>
                {{/each}}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="add-button">Add</button>
    </div>
</form>

<script src="./js/add.js"></script>