<div>
    <h2>Add New Category</h2>
</div>

<form data-parsley-validate="" class="form add-category-form">
    <div class="form-group">
        <label for="category-name">Name:</label>
        <input class="form-input" type="text" id="category-name" required=""/>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="add-button">Add</button>
    </div>
</form>

<script src="./js/category.js"></script>