<header class='pantry-landing'>
  <h1 class='landing-title'>Pantry Pal</h1>
  <p class='landing-slogan'>Never run out of your favorite foods again!</p>

  <div class='landing-buttons'>
    <a href='/login' class='btn btn-lg btn-primary' id='login-btn'>Login</a>
    <a href='/signup' class='btn btn-lg btn-primary' id='signup-btn'>Sign Up</a>
  </div>
</header>